# Configuracióon Spotify
# Obtén estas llaves en: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Esta dirección debe coincidir exactamente con la configurada en el Dashboard de Spotify
SPOTIFY_REDIRECT_URI=

# Configuración BD
MONGO_DETAILS=