# Configuracióon Spotify
# Obtén estas llaves en: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=tu_client_id_aqui
SPOTIFY_CLIENT_SECRET=tu_client_secret_aqui

# Esta dirección debe coincidir exactamente con la configurada en el Dashboard de Spotify
SPOTIFY_REDIRECT_URI=tu_redirect_uri_aqui

# Configuración BD
MONGO_URI=mongodb://localhost:27017/tu_nombre_de_bd